//
// Fontface
// -------------------------

// @import url('');
@font-face {
    font-family: 'AvantGarde';
    src: url("../fonts/avgard-webfont.eot");
    src: url("../fonts/avgard-webfont.eot?#iefix") format("embedded-opentype"),
         url("../fonts/avgard-webfont.ttf") format("truetype");
         font-weight: normal; 
         font-style:normal
}

@font-face {
    font-family: 'AvantGarde';
    src:url("../fonts/avgardm-webfont.eot");
    src:url("../fonts/avgardm-webfont.eot?#iefix") format("embedded-opentype"),
    url("../fonts/avgardm-webfont.ttf") format("truetype");
    font-weight: 700;
    font-style: normal
}